.mobile-design {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.text{
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.white{
  color: #fff;
}

.black{
  color: #000;
}

.bold{
  font-weight: 600;
}

.medium{
  font-size: 2.5rem;
}

.large{
  font-size: 3rem;
}

.line{
  color: #fff;
  font-weight: 400;
}

.flag{
  width: 3rem;
  height: 2rem;
}

.first-section{
  background-image: url('/assets/img/person_looking_at_power_plant_with_steam_coming_out_of_reactors.png');
  height: 100vh;
  background-size: cover;

  &__header{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }

  &__content{
    margin: 4rem 1rem;
  }
}

.second-section{
  padding: 1rem;
  text-align: center;

  &__header{
    text-align: center;
  }

  &__description{
    text-align: center;
  }

  &__image-container{
    padding: 1rem;
  }

  &__image-container img{
    width: 80vw;
    object-fit: cover;
  }
}

.third-section{
  padding: 1rem;
  text-align: center;

  &__header{
    text-align: center;
  }

  &__description{
    text-align: center;
  }

  &__image{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
  }
}

.team-section{
  padding: 1rem;
  text-align: center;

  &__image-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__person-box img{
    width: 20rem;
    height: 30rem;
    object-fit: cover;
  }
}
