<div class="atom">
  <div class="ring">
    <div class="neutron"></div>
  </div>
  <div class="ring">
    <div class="neutron"></div>
  </div>
  <div class="ring">
    <div class="neutron"></div>
  </div>
  <div class="ring">
    <div class="neutron"></div>
  </div>
</div>

<section class="first-section">
  <div class="first-section__header">
    <p class="text bold white">NuMoS</p>
    <img src="assets/img/ukr-flag.png" alt="" class="flag">
  </div>
  <hr class="line">
  <div class="first-section__content white">
    <p class="text bold large">MACHINE LEARNING BASED MONITORING SYSTEM</p>
    <p class="text">It is better to prevent than face the consequences</p>
  </div>
</section>

<section class="second-section">
  <h2 class="second-section__header text large">Problem</h2>
  <p class="second-section__description medium">
    Any accident increases the emission risk and has catastrophic environmental consequences.
    <br>A large amount of calculations and analysis, and the accuracy suffers from the human factor.
    <br>Time, financial, and human resources spent on manually scheduled preventive maintenance.
    <br>Negative impact on technicians' well-being who work in internal operating elements.
  </p>
  <div class="second-section__model-wrapper">
    <model-viewer class="second-section__model" src="assets/PowerPlant.glb" ar shadow-intensity="1" camera-controls touch-action="pan-y"></model-viewer>
  </div>
  <div class="second-section__image-container">
    <p class="bold large">Catastrophies</p>
    <div class="image-container">
      <p class="bold medium">Piper Alpha</p>
      <img src="assets/img/piper-alpha.jpg" alt="">
      <p class="medium">Condensate leak from the poorly sealed disk that had been temporarily employed in place of the safety valve removed for maintenance. 165 of the men on board killed. The total insured loss - about £1.7 billion.</p>
    </div>
    <div class="image-container">
      <p class="bold medium">Tokaimura Nuclear Accidents</p>
      <img src="assets/img/tokaimura.png" alt="">
      <p class="medium">Due to lack of safety technology, technicians had to rely on the administration to keep track of the levels. This meant that there was human error involved. In addition, the regulator did not conduct routine inspections that would have caught this lack of safety technology that could have prevented the accident.</p>
    </div>
    <div class="image-container">
      <div class="image-container">
        <p class="bold medium">Rana Plaza Collapse</p>
        <img src="assets/img/ranaplaza.jpg" alt="">
        <p class="medium">A number of engineering and administrative failures contributed to the ultimate disaster of the Rana Plaza garment factories in Bangladesh. Experts have since concluded the garment factory collapse was “entirely preventable.” </p>
      </div>
    </div>
  </div>
</section>

<section class="third-section">
  <h2 class="third-section__header text large">Solution</h2>
  <div class="third-section__container">
    <img src="assets/img/solution-cv.png" alt="" class="third-section__image">
    <p class="third-section__description medium">OpenСV framework and Python programming language. Neural networks are employed to recognize and classify crack images.
      Computer vision helps to detect cracks, leaks, and various physical damages in various critical infrastructure facilities.</p>
  </div>
  <div class="third-section__container">
    <img src="assets/img/camera.png" alt="" class="third-section__image">
    <p class="third-section__description medium">Camera that consists of several components to best detect various physical damage on the surface. The camera has lenses with excellent focus, can automatically focus and has an infrared spectator.
      In addition, we have created a solution for the camera in the form of quartz glass and a protective cover made of lead to reduce external factors in the form of (radiation, humidity, temperature)</p>
  </div>
  <div class="third-section__container">
    <img src="assets/img/sensors.jpg" alt="" class="third-section__image">
    <p class="third-section__description medium">Pressure SensorA pressure sensor (sometimes pressure transducer or transmitter) measures the physical quantity pressure and converts it into a standardized electrical measurement signal for analyzing.
      NON-CONTACT INFRARED sensor The solution will use NON-CONTACT INFRARED sensor for temperature detection.
      Humidity SensorThe humidity sensor is a device that senses, measures, and reports the relative humidity (RH) of air or determines the amount of water vapor present in gas mixture (air) or pure gas. Humidity sensing is related to a water adsorption and desorption process
      Radiation detectorsRadiation detectors, also called radiation sensors, are instruments that sense and measure radiation emissions or levels of radiation produced by a source.</p>
  </div>
  <div class="third-section__container">
    <img src="assets/img/deeplearning.png" alt="" class="third-section__image">
    <p class="third-section__description medium">Our machine learning model consists of a large dataset of ready-made data and data we receive from sensors.
      In addition, our model predicts changes in sensor graphs and can make recommendations for different situations.<br>
      However, we can still compute prediction intervals using simulation where future sample paths are generated using bootstrapped residuals
      This is known as a multilayer feed-forward network, where each layer of nodes receives inputs from the previous layers. The outputs of the nodes in one layer are inputs to the next layer. The inputs to each node are combined using a weighted linear combination.</p>
  </div>
</section>

<section class="team-section">
  <h2 class="team-section__header text large">Our team</h2>
  <div class="team-section__image-grid">
    <div class="team-section__person-box">
      <img src="assets/img/Ksenia.png" alt="">
      <p>Visual and textual content developer</p>
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/Nastya M.png" alt="">
      <p>Team leader and AI engineer</p>
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/Nik.png" alt="">
      <p>System administrator and DevOps engineer</p>
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/Kostia.png" alt="">
      <p>Architect and developer</p>
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/Vitalii.png" alt="">
      <p>Physicist and architect of hardware solutions</p>
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/Anastasia.png" alt="">
      <p>Business analyst and marketing specialist</p>
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/Andrii.png" alt="">
      <p>Software and database system architect</p>
    </div>
  </div>
</section>
