.main-container{
  display: flex;
  flex-direction: column;
  background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2018_22/2451826/180601-atomi-mn-1540.jpg');
}

.header-section{
  height: 100vh;

  &__nav-bar{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;

    & > ul{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      list-style: none;
      text-align: center;

      & > li > span:hover{
        cursor: pointer;
      }
    }
  }

  &__content{
    height: calc(100vh - 10rem);
  }
}

.middle-section{
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-section{
  height: 100vh;
  background-color: #000;
}

.reactor-model{
  display: flex;
  align-items: center;
  justify-content: center;
}
