<section class="first-section">
  <div class="first-section__header">
    <p class="text bold white">NuMoS</p>
    <img src="assets/img/ukr-flag.png" alt="" class="flag">
  </div>
  <hr class="line">
  <div class="first-section__content white">
    <p class="text bold large">MACHINE LEARNING BASED MONITORING SYSTEM</p>
    <p class="text">It is better to prevent than face the consequences</p>
  </div>
</section>

<section class="second-section">
  <h2 class="second-section__header text large">Problem</h2>
  <p class="second-section__description medium">Description</p>
  <div class="second-section__image-container">
    <div class="image-container">
      <img src="assets/img/ukr-flag.png" alt="">
      <p class="medium">Description</p>
    </div>
    <div class="image-container">
      <img src="assets/img/ukr-flag.png" alt="">
      <p class="medium">Description</p>
    </div>
  </div>
</section>

<section class="third-section">
  <h2 class="third-section__header text large">Solution</h2>
  <p class="third-section__description medium">Description</p>
  <img src="" alt="" class="third-section__image">
</section>

<section class="fourth-section">

</section>

<section class="team-section">
  <h2 class="team-section__header text large">Our team</h2>
  <div class="team-section__image-grid">
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
    <div class="team-section__person-box">
      <img src="assets/img/profile.jpg" alt="">
    </div>
  </div>
</section>
